<h3>REAL TIME</h3>

<h4>New product...</h4>

<form id="form">
    Name: <input type="text" name="Title" id="title_id">
    Description: <input type="text" name="Description" id="description_id">
    <input type="submit" value="SEND">
</form>
<br>
<br>
<div id="products"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/realTimeProducts.js"></script>